html, body, .container {
  @media (min-width: 769px){
    height: 100%;
    min-height: 100%;
  }
}

.container {
  @media (min-width: 769px){
    margin-bottom: -70px;
    &::after{
      height: 70px;
      content: " ";
      float: left;
      width: 100%;
      clear: both;
    }
  }
}
header {
  height: 100px;
  h1 {
    margin: 0px
  }
  img{
    max-width: 100%;
    width: auto;
    height: 100px;
  }
  div{
    display: none;
}
}

.btn-primary {
  background-color: #6d9429 !important;
  border-color: #6d9429 !important;
  color: #7a4272;
}


#likeBox {
  background-color: white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
 @media (min-width: 769px){
    -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
    width: 340px;
    height: 300px;
    position: fixed;
    top:30%;
    right: -340px;
    -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
    &:before {
      -webkit-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;
      position: absolute;
      left: -39px;
      display: block;
      content: ' ';
      background-color: white;
      height: 40px;
      width: 40px
    }
    &:hover {
      right: -40px
    }
    .fb-like-box {
    height: 100% !important;
  }
  } 
}
footer {
    display: block;
    width:100%;
}
