.slider {
  padding: 0;
  .carousel-inner > .item > img {
  max-width: 300%;
height: auto;
width: 100%;
height: 20vw;
  }
}
#buttons {
  margin-top: 60px;
    button {
      margin-bottom: 20px
    }
}