<ol class="breadcrumb">
  <li>{{#link-to 'team'}}Zespół{{/link-to}}</li>
  <li class="active">Kordynator</li>
</ol>
<h2>Kordynator Projektu</h2>
Imie: {{model.cordinator.name}}
E-mail: {{model.cordinator.email}}
Opis: {{model.cordinator.about}}