<div class='col-xs-12 cordinator text-center'>
<h2>Kordynator projektu: {{#link-to 'team.cordinator'}}{{model.cordinator.name}}{{/link-to}}</h2>
</div'>
{{#each division in model.division}}
<div class='division'>
<h2>{{#link-to 'team.division' division.name}} Wydział {{division.name}}{{/link-to}}</h2>
<h3>Kordynator:{{#link-to 'team.division.cordinator' division.name}} {{division.cordinator.name}} {{/link-to}}</h3>
<h3> Kontakt: {{division.email}} </h3>
</div>
{{/each}}