<div class="col-xs-12 col-md-4 about">
<h2>Kordynator Projektu</h2>
<h3 class="text-center"><a {{bindAttr href= 'mailto'}}>Kontakt </a></h3>
</div>
<div class="col-xs-12 col-md-7 col-md-offset-1 memberCordinator">
Imię: {{model.cordinator.name}}
<p>{{model.cordinator.about}}</p>
<div>