<div class="col-xs-12 col-md-10 col-md-push-1 center-block">
  <div class="row">
<div class='col-xs-12 col-md-4 center-block cordinator text-center'>
<h2>{{#link-to 'team.cordinator'}} Koordynator projektu: {{model.cordinator.name}}{{/link-to}}</h2>
</div>
{{#each division in model.division}}
<div class='division col-xs-12 col-md-4'>
<h2 class="text-center">{{#link-to 'team.division' division.name}} Wydział {{division.name}}{{/link-to}}</h2>
</div>
{{/each}}
  </div>
</div>