<div class="col-xs-12">
<div class="col-xs-12 col-md-4 col-lg-3 about">
<h2>Wydział {{model.name}}</h2>
<h3>Kontakt: {{model.email}}
</div>
<div class="col-xs-12 col-md-8 col-lg-9 members"> 
<h3>Członkowie: </h3>
<ul>
<li class='cordinator'>{{model.cordinator.name}}</li>
{{#each model.members}}
<li>{{name}}</li>
{{/each}}
</ul>
</div>
</div>