<ol class="breadcrumb">
  <li>{{#link-to 'team'}}Zespół{{/link-to}}</li>
  <li>{{#link-to 'team.division' model.division.name}}{{model.division.name}}{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>
{{model.name}}