$fioletowy: #7a4272;

.divisionIndex, .cordinatorAbout {
  @media (min-width: 992px) {
    .about{
      h2 {
        font-size: 40px
      }
     
    }
  }
  .member, .memberCordinator {
    background-color: lighten($fioletowy, 20%);
    padding: 20px;
  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 10px;

    &:before {
          content: " ";
      display: table;
    }
    &:after {
 content: " ";
      display: table;
      clear: both;

    }
  }
  .about {
    background-color: $fioletowy;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 100%
  }

}
