.divisionIndex{
  .members, .about {
    background-color: white;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 30px;
  }
}

.divisionIndex .breadcrumb {
  margin-top: -20px;
}
