{{#if error}}
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Błąd!</strong> {{{view.text}}}
{{/if}}
{{#if success}}
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Sukces!</strong> {{{view.text}}}
{{/if}}
