{{view App.HeaderView}}
{{view App.NavbarView}}
<div class="container-fluid">
{{outlet}}
</div>
{{!--
{{#unless this.cookies}}
<div class="accept_cookies">
  Ta strona wykorzystuje pliki cookie do przechowywania danych kliknij na guzik poniżej jeśli to akceptujesz<br>

<button {{action "accept_cookies"}}>Zaakceptuj cookie</button>
</div>
{{/unless}}
--}}
