{{view App.HeaderView}}
{{view App.NavbarView}}
<main role="main">
{{outlet}}
</main>
{{!--
{{#unless this.cookies}}
<div class="accept_cookies">
  Ta strona wykorzystuje pliki cookie do przechowywania danych kliknij na guzik poniżej jeśli to akceptujesz<br>

<button {{action "accept_cookies"}}>Zaakceptuj cookie</button>
</div>
{{/unless}}
--}}
<div id="likeBox">
      <div class="fb-like-box" data-href="http://www.facebook.com/greeterspolska" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false">
          </div>
    </div>