<div class="col-xs-6 col-xs-push-3">

    <p class="faq_question">
      <b>Skąd wziął się pomysł na Greeters Polska?</b>
    </p>
    <p class="faq_answer">
      A gdyby zrobić coś, czego w Polsce nie zrobił nikt przed nami? A gdyby zrobić to wspólnie, z przyjaciółmi, 
      którzy tworzą zróżnicowany, wszechstronny, kompetentny w wielu dziedzinach, a przy tym dobrze zgrany zespół? 
      Gdyby wykorzystać potencjał, który w nas drzemie i tylko czeka żeby się ujawnić, połączyć nasze pasje i zdolności? 
      Co by z tego wyszło? Greeters Polska! Projekt swoimi źródłami sięga do naszych osobistych doświadczeń i potrzeb, 
      jako młodych studentów jeżdżących po Polsce, którym nie wystarcza już oglądanie tego, co widział każdy i co można 
      obejrzeć bez wychodzenia z domu, na każdym portalu turystycznym. Którzy w obcym mieście próbują metodą 
      prób i błędów znaleźć ciekawe, nieszablonowe miejsca, którzy nie wiedzą jak korzystać z komunikacji 
      miejskiej i którą restaurację wybrać żeby nie zrujnować wycieczkowego budżetu, ale smacznie i komfortowo zjeść. 
      Popyt rodzi podaż i tak stało się już w wielu krajach na świecie - tak zrodziła się międzynarodowa, 
      gólnoświatowa sieć Global Greeters Network, która stała się inspiracją również dla nas. 
      Chcemy mieć swoich Greeterów! I będziemy mieć :)
  </p>

    <!-- Gdzie jeszcze można znaleźć Greeterów?
    Marcin, Ty się lepiej orientujesz w tej sieci, już to ogarniałeś, dasz radę napisać?
    -->

  <p class="faq_question">
    <b>Czym zajmuje się Greeters Polska?</b>
  </p>
  <p class="faq_answer">
    Greeters Polska to projekt działający w dwóch wymiarach – spacery gości odwiedzających Gdańsk z wolontariuszami 
    oraz praca grupy projektowej z wolontariuszami. Greeters Polska jest więc przestrzenią dla rozwoju i doskonalenia się,
    wymiany doświadczeń, realizowania pasji grupy młodych ludzi należących do grupy inicjatywnej i organizacyjnej 
    oraz będących wolontariuszami. Przede wszystkim jednak Greeters Polska zajmuje się pokazywaniem miasta od strony
    mieszkańca. Za pośrednictwem portalu goście planujący odwiedziny w Gdańsku mogą zgłosić chęć skorzystania z pomocy
    wolontariusza, następnie wolontariusz dyspozycyjny w określonym terminie i mogący sprostać oczekiwaniom gościa 
    deklaruje chęć przeprowadzenia spaceru i nawiązuje kontakt. Teraz następuje część najważniejsza – Greeter, 
    który jest mieszkańcem i miłośnikiem Gdańska, zabiera gościa na unikatowy spacer, którego ten nie odbyłby z 
    nikim innym – bo nikt inny tak jak Greeter nie zna swojego miasta :) Może też udzielić pomocy i informacji w 
    zakresie komunikacji miejskiej, gastronomii, czy miejsc do zabawy – wszystko czego można potrzebować przebywając
    w obcym, nieznanym mieście.
  </p>
  
  <p class="faq_question">
    Kto może zostać Greeterem i w jaki sposób?
  </p>
  <p class="faq_answer">
    Dołączenie do zespołu Greeterów jest bardzo proste! Wystarczy wypełnić formularz na naszej stronie internetowej 
    w zakładce „Zostań Greeterem”, koordynator wolontariuszy nawiąże z Tobą kontakt i już stajesz się członkiem 
    międzynarodowej sieci wolontariuszy pokazujących swoje miasto odwiedzającym je gościom. Żeby to zrobić 
    musisz mieć ukończone 18 lat i mieszkać w Gdańsku – niekoniecznie na stałe i z dziada pradziada, 
    możesz być studentem, przyjezdnym, wystarczy że zachwyciłeś się tym miastem i masz tu coś do pokazania :)
  </p>
 
  <p class="faq_question">  
    Jak można wspomóc działania Projektu?  
  </p>
  <p class="faq_answer">
    Możesz wspomóc nas na wiele sposobów – poprzez zgłoszenie się jako wolontariusz, 
    poprzez dołączenie do grupy organizacyjnej, ale także mówiąc o nas wszędzie gdzie się da! 
    Polub nasz profil na fb.com, zaproś swoich znajomych, opowiadaj ludziom, że istniejemy i jesteśmy
    gotowi i chętni do pracy!
  </p>

  <p class="faq_question">
    Jak wygląda spacer z Greeterem?
  </p>
  <p class="faq_answer">
    Spacer z Greeterem rozpoczyna się od spotkania w umówionym miejscu, 
    może to być centrum miasta albo zupełnie inne odpowiadające obu stronom miejsce – 
    przy czym dla osób przyjezdnych nie znających Gdańska zapewne będzie to charakterystyczny punkt,
    do którego łatwo trafić – Greeter nie zostawi Cię na pastwę losu ;) Spacer rwa 2-3 godziny, w czasie 
    których możecie się przemieszczać z jednego końca Gdańska na drugi – wszędzie gdzie tylko jest coś 
    ciekawego do zobaczenia, mając przy tym na uwadze, żeby połowy tego czasu nie spędzić w tramwajach czy autobusach
    – chyba że takie życzenie ma gość :)
  </p>
  

   <!-- W jaki sposób mogę ją zorganizować?
    Nie rozumiem pytania? ;p

    Czy mogę mieć wpływ na plan spaceru?
    Podczas zgłoszenia chęci spaceru z Greeterem przez formularz na stronie WWW możesz w miejscu „dodatkowe uwagi” napisać, jakie masz preferencje dotyczące spaceru – czy chcesz zrobić ładne miejsca, interesuje Cię natura, najładniejsze gdańskie plaże czy ciekawe architektonicznie obiekty itp. Wtedy masz pewność, że Greeter, który zgłosi się do spotkania z Tobą wyjdzie naprzeciw Twoim oczekiwaniom. Oczywiście również później możesz kontaktować się z Greeterem i możecie dogadać szczegóły, a nawet w trakcie spaceru zmiany w planie to po prostu inny plan, równie dobry :) Najważniejsze żeby wszyscy dobrze się z nami czuli i zobaczyli najładniejszy Gdańsk jaki dla Was mamy.
-->

  <p class="faq_question">
    Czy spacery są darmowe i jakie korzyści mają wolontariusze?
  </p>
  <p class="faq_answer">
    Spacer Greeterem jest darmowy, jedyne opłaty jakie poniesiesz dotyczą Twojego własnego przejazdu komunikacją miejską, o czym zostaniesz uprzedzony przed spacerem, gdyby zaś Greeter miał dla Ciebie propozycję miejsca wartego zobaczenia, do którego wstęp jest płatny, również ustalicie wspólnie czy chcesz je zobaczyć, jednak staramy się takich miejsc unikać. Greeter jest wolontariuszem, nie pobiera za swoje usługi żadnego wynagrodzenia. Korzyści jakie przynosi mu udział w projekcie to przede wszystkim rozwijanie swoich zainteresowań, doskonalenie się w wielu dziedzinach, szkolenia organizowane przez grupę projektową, współpraca z innymi ludźmi o podobnych zainteresowaniach, wymiana doświadczeń.
  </p>



<!--
    Po czym poznać Greetera i jak go zweryfikować?
    Po czym? Po koszulce? ;p Jakiś identyfikator?

    Kto wspiera realizację Projektu?
    Marcin? Możesz? Ty znasz te formułki ;p

-->

</div>
