{{#if App.Slider.FIXTURES}}
    {{view App.SliderView contentBinding="App.Slider.FIXTURES"}}
{{else}}
  <div class="noslider">
    <img src="img/slider/zaslepka.jpg">
  </div>
{{/if}}
<div id="buttons">
    {{#link-to 'search' tagName="button"}}Szukaj Greetera{{/link-to}}
    {{#link-to 'signup' tagName="button"}}Zostań Greeterem!{{/link-to}}
</div>

