{{view App.HeaderView}}
{{#if App.Slider.FIXTURES}}
    {{view App.SliderView contentBinding="App.Slider.FIXTURES"}}
{{else}}
  <div class="col-xs-12 noslider">
    <img class="img-responsive" src="img/slider/zaslepka.jpg">
  </div>
{{/if}}
{{view App.NavbarView}}
<div id="buttons" class="text-center col-xs-12">
    <button class="btn btn-lg btn-primary col-xs-12 col-md-5" disabled="true">Szukaj Greetera<br>(30.05.2014)</button>
    {{#link-to 'signup' class="btn btn-lg btn-primary col-xs-12 col-md-5 col-md-offset-2" tagName="buttton"}}Zostań Greeterem!<br> {{/link-to}}
</div>


 
