{{#if App.Slider.FIXTURES}}
    {{view App.SliderView contentBinding="App.Slider.FIXTURES"}}
{{else}}
  <div class="noslider">
    <img class="img-responsive" src="img/slider/zaslepka.jpg">
  </div>
{{/if}}
<div id="buttons" class="text-center col-xs-12">
    {{#link-to 'search' class="btn btn-lg btn-primary col-xs-12 col-md-5" tagName="buttton"}}Szukaj Greetera{{/link-to}}
    {{#link-to 'signup' class="btn btn-lg btn-primary col-xs-12 col-md-5 col-md-offset-2" tagName="buttton"}}Zostań Greeterem!<br> {{/link-to}}
</div>
