<div>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" {{action 'collapse' '.navHeaderCollapse' target='view'}}>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Greeters Polska</a>
</div>
<nav class="navHeaderCollapse">
  <ul>
    {{#link-to 'index' tagName='li' href=false}}
      {{#link-to 'index' bubble='false'}}Strona główna{{/link-to}}
    {{/link-to}}
    {{#link-to 'who' tagName='li' href=false}}
      {{#link-to 'who' bubble='false'}}Kto to Greeter?{{/link-to}}
    {{/link-to}}
    {{#link-to 'faq' tagName='li' href=false}}
      {{#link-to 'who' bubble='false'}}F.A.Q.{{/link-to}}
    {{/link-to}}
    {{#link-to 'signup' tagName='li' href=false}}
      {{#link-to 'signup' bubble='false'}}Zostań Greeterem!{{/link-to}}
    {{/link-to}}
    {{#link-to 'search' tagName='li' href=false}}
      {{#link-to 'search' bubble='false'}}Szukaj Greetera!{{/link-to}}
    {{/link-to}}
  </ul>
</nav>
</div>
