<div class="col-xs-6 col-xs-push-3">

    <p>Greeters Polska to projekt adresowany do osób energicznych, otwartych, pomysłowych, spontanicznych i pozytywnie zakręconych, którzy na dokładkę są ciekawi świata, chętni do szukania i poznawania nowych miejsc, kreatywni, a przede wszystkim - mieszkają w Gdańsku, i chcą go pokazywać gościom ze świata i okolic.</p>

    <p>Jeśli chociaż jedna z wymienionych cech pasuje do Ciebie- zostań Greeterem!</p>

    <p>Nie musisz mieć szczególnej wiedzy. Nie musisz być wybitnie uzdolniony. Nie musisz być nawet gdańszczaninem z dziada pradziada - wierzymy, że nawet student od niedawna mieszkający w tym mieście ma coś do powiedzenia(czy raczej pokazania), może nawet więcej niż rodowity mieszkaniec. A całkiem sporo, możemy nauczyć się od siebie nawzajem :-)</p>

    <p><strong>Kim jest Greeter?</strong></p>

    <p>Greeter to wolontariusz, pasjonujący się swoim miastem i regionem.</p>

    <p>Greeter to przyjaciel turysty, który pomoże odnaleźć się w nowym mieście, chętnie doradzi jak spędzić czas, co warto zobaczyć, gdzie zjeść i przenocować, wskaże miejsca, których nie znajdziemy w przewodnikach turystycznych, a które są warte zainteresowania.</p>

    <p>Greeter nie jest profesjonalnym przewodnikiem, lecz życzliwym mieszkańcem, który w ciągu 2-3 godzin udzieli potrzebnych przyjezdnemu informacji.</p>

    <p><strong>Do czego dążymy?</strong></p>

    <p>Naszym zadaniem jest stworzenie internetowej bazy wolontariuszy, dostępnej dla wszystkich chcących zwiedzić Gdańsk w niekonwencjonalny sposób.</p>

    <p>Do Projektu Greeters Polska zapraszamy także osoby, które chciałyby dołączyć do Zespołu Projektowego i razem z nami nabywać nowe doświadczenia i umiejętności z zakresu zarządzania, promocji, komunikacji czy też… informatyki! Chcesz się rozwijać i działać? Szukasz nowego hobby? Idealnie trafiłeś! {{#link-to "signup"}}Skontaktuj się z nami!{{/link-to}}</p>
</div>
